@import "../../static/css/variables.scss";
.shTableBox{
    table {
      border-collapse: collapse;
      border: 2px solid $sh-border-color;
      font-size: $sh-font-size;
      letter-spacing: 1px;
      width: 100%;
    }
    thead,
    tfoot {
      background-color: $sh-bg-color;
      font-weight: bold;
    }
    th,
    td {
      border: 1px solid $sh-border-color;
      padding: 8px 10px;
      text-align: center;
    }
    tbody > tr:nth-of-type(even) {
      background-color: rgba(40, 44, 56, 0.4);
    }
    tbody > tr:nth-of-type(odd) {
      background-color: rgba(40, 44, 56, 0.6);
    }

    caption {
      caption-side: bottom;
      padding: 8px;
      font-weight: bold;
    }
}
