@import "../../static/css/variables.scss";

.shUploadBox{
    position: relative;
    min-height: 120px;
    width: 200px;
    border-radius: 8px;
    border: 2px $sh-border-color dashed;
    background: $sh-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .shUploadContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .textDescribe{
            margin-top: 10px;
            color: $sh-text-color;
            font-size: $sh-font-size;
        }
        .shInputFile{
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.shUploadBox:hover{
    border: 2px $sh-main-color dashed;
    background: $sh-main1-color;
}
