@import "../../static/css/variables.scss";
.container{
    width: fit-content;
    display: inline-flex;
    .shCheckContent{
        display: flex;
        align-items: center;
        margin: 0  $sh-margin;
        .checked{
          border: 2px solid $sh-main-color !important;
          background-color: $sh-main1-color;
        }
        .shCheckBox{
            position: relative;
            width: $sh-checkbox-width;
            height: $sh-checkbox-height;
            border: 2px solid $sh-border-color;
            margin: $sh-margin $sh-margin $sh-margin 0;
            border-radius: $sh-radius;
            cursor:pointer;
            .icon{
              box-sizing: border-box;
              position: absolute;
              display: block;
              height: $sh-checkbox-icon-height;
              width: $sh-checkbox-icon-width;
              border: 2px solid $sh-main-color;
              border-top: 0;
              border-right: 0;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-80%) rotate(-45deg) scale(0.1);
              animation: checked-select 0.2s ease-in forwards;
            }
            .minusIcon{
              box-sizing: border-box;
              position: absolute;
              display: block;
              height: 0;
              width: $sh-checkbox-icon-width;
              border: 1px solid $sh-main-color;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) scale(0.1);
              animation: checked-select-minus 0.2s ease-in forwards;
            }
            @keyframes checked-select {
              to {
                transform: translate(-50%,-80%) rotate(-45deg) scale(1);
              }
            }
            @keyframes checked-select-minus {
              to {
                transform: translate(-50%,-50%) scale(1);
              }
            }
        }
        .describe{
            margin-left: $sh-margin;
            font-size: $sh-font-size;
            color: $sh-text-color;
        }
    }
    .checkbox__border{
        border: 2px solid $sh-border-color !important;
        padding: 0 4px;
        margin: 1rem;
        border-radius: $sh-radius;
    }
    .style.checkbox__border__checked{
        border: 2px solid $sh-main-color !important;
    }
}
