//主题颜色
$sh-main-color:#752bec;
$sh-main1-color:#362350;

//复选框的宽度、高度
$sh-checkbox-width:16px;
$sh-checkbox-height:16px;

//字体颜色和字体大小
$sh-text-color: #e5eaf3;
$sh-font-size: 14px;

$sh-small-height:30px;
$sh-height: 40px;
$sh-large-height:50px;

$sh-small-width:210px;
$sh-width:240px;
$sh-large-width:270px;

$sh-bg-color:#282c38;
$sh-border-color:#373d4d;
$sh-bg-hover-color:#3d4356;

$sh-box-shadow:0 0 10px 0 #090a0b;
$sh-disable-color:#7c86a1;

$primary: #752bec;
$sh-color-primary-light: #592e9e;

$success: #67c23a;
$sh-color-success-light: #4e8e2f;

$info: #909399;
$sh-color-info-light: #6b6d71;

$warning: #e6a23c;
$sh-color-warning-light: #a77730;

$danger: #f56c6c;
$sh-color-danger-light: #b25252;

//标签中的主题颜色
$tag-primary: #752bec;
$tag-primary-background-color: rgba(117, 43, 236, 0.2);
$tag-success: #07c160;
$tag-success-background-color: rgba(7, 193, 96, 0.2);
$tag-info: #909399;
$tag-info-background-color: rgba(144, 147, 153, 0.2);
$tag-warning: #e6a23c;
$tag-warning-background-color: rgba(230, 162, 60, 0.2);
$tag-danger: #ee0a24;
$tag-danger-background-color: rgba(238, 10, 36, 0.2);
$tag-blue: #819ffb;
$tag-blue-background-color: rgba(36, 108, 249, .2);
$tag-red: #e96289;
$tag-red-background-color: rgba(250, 34, 86, .2);
$tag-yellow: #ffd059;
$tag-yellow-background-color: rgba(255, 222, 10, .2);
$tag-green: #8dd075;
$tag-green-background-color: rgba(79, 232, 62, .2);
$tag-purple: #a77bff;
$tag-purple-background-color: rgba(133, 72, 255, .2);
$tag-pink: #fd6ebf;
$tag-pink-background-color: rgba(252, 60, 169, .2);
$tag-cyan: #1ee2ff;
$tag-cyan-background-color: rgba(0, 213, 243, .2);
$tag-orange: #ff9179;
$tag-orange-background-color: rgba(253, 115, 30, .2);
